#carts{
  
    background-color: bisque;
    border:solid #8d4343;
    padding: 20px 20px;
    margin: 50px 250px;
}
#delete{
    background-color:#8d4343 ;
    padding: 15px;
    color: white;
}
.datadiv{
    padding:50px;
    width: 28% !important;
    display: inline-block;
}
