.Detailedcard{
text-align:center;
background-color: bisque;
padding: 20px 20px;
margin: 50px 250px;
border:solid#8d4343;
}
#add{
    background-color:#8d4343 ;
    color: white;
    padding: 10px!important;
    margin: 5px!important;
}
.offer{
    color:white;
    font-weight: bold;
    font-size:large;
    position:absolute;
    background-color:red;
    padding:8px;
}
